/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
  input[type="submit"] {
    background-color: #282;
    border: solid thin #141;
    color: white;
    font-size: 1em;
    padding: 0.35em 1em;

    &:hover {
      background-color: #141;
    }
  }
  header {
    &.main {
      text-align: center; // Center on mobile
      background: #282;
      margin: 0;
      @media (min-width: 30em) { // Align left on computer screen
        text-align: left;
      }
      h1 {
        display: none;
      }
    }
  }
  .content {
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-box-orient: vertical; // Lay out mobile version vertically
  -webkit-box-direction: normal;
  @media (min-width: 30em) {
    flex-direction: row; // Lay out desktop version horizontally
    -webkit-box-orient: horizontal;
  }
    nav {
      &.side_nav {
        padding-bottom: 1em;
        background: #141;
        text-align: center; // Center nav on mobile
        @media (min-width: 30em) {
          text-align: left; // Left Align nav on desktop client
        }
        .logged_in_nav {
          border-top: solid thin #bfb;
          padding: 0.35em 0;
          margin-top: 0.35em;
          input[type="submit"] {
            background: none;
            border: none;
            color: #bfb;
            font-size: 1em;
            letter-spacing: 0.35em;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            &:hover {
              color: white;
            }
          }
        }
        div#cart {
          article {
            h2 {
              margin-top: 0;
            }
            background: white;
            margin: 0.7em;
            padding: 1em;
          }
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          @media (min-width: 30em) {
            padding-right: 1em;
          }
          li {
            margin: 0;
            padding: 0.5em;
            text-transform: uppercase;
            letter-spacing: 0.3em;
            a {
              color: #bfb;
              text-decoration: none;
              &:hover {
                background: none;
                color: white;
              }
            }
          }
        }
      }
    }
  }
  main {
    padding: 0.5em;
    #notice {
      padding: 0;
      margin: 0;
      background: #282;
      border: solid thin #882;
      color: white;
      font-weight: bold;
      padding: 1em;
      margin-bottom: 1em;
      text-align:center;
    }
  }
}

.depot_form {
  padding: 0 1em;
  h1 {
    font-size: 1.99em;
    line-height: 1.41em;
    margin_bottom: 0.5em;
    padding: 0;
  }
  .field .actions {
    margin_bottom: 0.5em;
    padding: 0;
  }
  .actions {
    text-align: right;
    padding: 1em 0;
  }
  input, textarea, select, option {
    border: solid thin #888;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.5em;
    width: 100%;
  }
  label {
    padding: 0.5em 0;
  }
  #error_explanation {
    background-color: white;
    border: solid thin red;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 100%;
    h2 {
      background: none;
      color: red;
      font-size: 1.41em;
      line-height: 1.41em;
      padding: 1em;
    }
    ul {
      margin-top: 0;
      li {
        color: red;
        font-size: 1em;
      }
    }
  }
  .field_with_errors {
    background: none;
    color: red;
    width: 100%;
    label {
      font-weight: bold;
    }
    label::before {
      content: "!";
    }
    input,textarea {
      background: pink;
    }
  }
}