// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store {
  max-width: 80 em;
  ul {
    &.catalogue {
      list-style: none;
      padding: 0;
      margin: 0;
      border-top: solid 0.25em;

      li {
        padding: 1em;
        margin: 0;
        border-bottom: solid thin #ddd;

        &::after {
          display: block;
          clear: both;
          content: " ";
      }

      img {
        float: left;
        padding: 1em;
        margin-bottom: 1em;
        margin-right: 1em;
        }
      }

      .price {
        font-size: 1.1em;
      }

      form, div {
        display: inline;
      }
    }
  }
}
